<!-- Vertical navbar -->
<div class="row">
<div class="col-3">
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="../assets/img.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">Admin</h4>
        <p class="font-weight-light text-muted mb-0"></p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Menu</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a routerLink="Curso" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-user mr-3 text-primary fa-fw"></i>
                Cursos
            </a>
    </li>
    <li class="nav-item">
      <a routerLink="Tablog" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-calendar-alt mr-3 text-primary fa-fw"></i>
                Tab_Log
            </a>

    <li class="nav-item">
      <a  routerLink="servico" class="nav-link text-dark font-italic bg-light">
                <i class=""></i></a>

    </li>

  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0"></p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>

            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>

            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>

            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>

            </a>
    </li>
  </ul>

</div>
</div>

<div class="col"><router-outlet></router-outlet></div>
</div>
<!-- End vertical navbar -->




